/* CONTEÚDO */

.content {
    position: absolute;
    box-sizing: content-box;
    width: 40em;
    margin: 50px 226px;
    margin-left: 40em    
}

.content h1 {
    text-align: center;
    margin-bottom: 15px;
}

.content p {
    text-align: justify;
}

#gatilho {
    text-align: center;
    margin-bottom: 50px;
}