/* MENU */

.menu ul {
    display: inline-block;
    margin-top: 1cm;
    margin-left: 18.5cm;
    margin-bottom: 2cm;

}

.menu ul li {
    border-bottom: 0.25px solid #000000;
    width: fit-content;
    height: 20px;
    padding: 5px 8px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 3.5em;
}

.menu ul li:hover {
    border-color: #a09e9e;
}
