/* SIDEBAR */

.sidebar {
    background-color: #D9D9D9;
    box-sizing: content-box;
    background-blend-mode: multiply;
    background: linear-gradient(340.52deg, #c2c2c2 1.5%, rgba(219, 219, 219, 0) 35.81%, #DBDBDB 66.62%, rgba(219, 219, 219, 0) 97.42%);
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 3px 4px 7px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: absolute;
    margin: 0px 300px;
}

.sidebar .holder {
    box-sizing: border-box;
    position: absolute;
    width: 83px;
    height: 15px;
    left: 100px;
    top: 20px;
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.19);
    box-shadow: inset 3px 4px 7px -2px rgb(0 0 0 / 25%);
    border-radius: 11px;
}

.sidebar img {
    background-color: #c2c2c2;
    box-sizing: content-box;
    height: 146px;
    margin: 67px 42px -33.2px;
    border: 2.5px dashed rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    align-content: center;
}

.sidebar h1 {
    background-color: #D9D9D9;
    background-blend-mode: multiply;
    background: linear-gradient(rgba(219, 219, 219, 0) 35.81%, rgba(219, 219, 219, 0) 97.42%);
    text-align: center;
    font-size: 13px;
    margin: 60px 5px 3px;
}

.sidebar p {
    background-color: #D9D9D9;
    background-blend-mode: multiply;
    background: linear-gradient(rgba(219, 219, 219, 0) 35.81%, rgba(219, 219, 219, 0) 97.42%);
    text-align: justify;
    font-size: 13.6px;
    margin: 1.75em;
    font-family: 'Libre Baskerville', serif;
    line-height: 20px;
}
