* {
    background-color: #ffffff;
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    margin-top: 25px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.menu ul li {
    font-family: 'Poppins', sans-serif;
}
.content {
    position: relative;
}