* {
    background-color: white;
    margin-top: 0cm;
}

/* SIDEBAR */

.sidebar {
    background-color: #D9D9D9;
    box-sizing: content-box;
    width: 280px;
    border-radius: 20px;
    position: fixed;
    margin-left: 100px;
}

.sidebar h1 {
    background-color: #D9D9D9;
    text-align: center;
    margin: 1.0em;
}

.sidebar p {
    background-color: #D9D9D9;
    text-align: justify;
    margin: 1.3em;
}

